.body__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;

  @media (max-width: 600px) {
    font-size: 1.5em;
  }
}

.body_hold {
  overflow: hidden;
}